<ion-header>
    <ion-toolbar class="styleToolBar">
        <img src="assets/img/img6.jpg" class="imgToolBar" style="margin-left: 25px;" />

        <ion-button class="btnCeleste btnDer" mat-icon-button matSuffix width="50%" (click)="volver()">
            Volver
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content class="bg-class">
    <ion-row class="margenTop20">
        <ion-card class="animated fadeIn cardLogeo">
            <ion-card-content>
                <ion-card-title>Datos personales</ion-card-title>
                <ion-label class="colorBlack btnIzq">{{nombre}}</ion-label>
                <br>

                <ion-label class="colorBlack btnIzq">{{dinero}} €</ion-label>
                <br>

                <ion-button class="btnCeleste btnPass" mat-icon-button matSuffix (click)="editarDatos()">
                    Editar
                </ion-button>

            </ion-card-content>
        </ion-card>
    </ion-row>

    <ion-row class="margenTop20" [hidden]="this.editable">
        <ion-card class="animated fadeIn cardLogeo">
            <ion-card-content>
                <ion-card-title>Editar datos</ion-card-title>
                <form [formGroup]="form" class="margenTop10">
                    <ion-label class="colorBlack btnIzq">Cantidad: </ion-label><br>
                    <ion-input class="styleInput centrar" formControlName="dinero" [value]="this.dinero"></ion-input>
                    <br>
                </form>
                <form [formGroup]="formDescripcion" class="margenTop10">
                    <ion-label class="colorBlack btnIzq">Descripción: </ion-label><br>
                    <ion-input class="styleInput centrar" formControlName="descripcion" [value]="this.descripcion"></ion-input>
                    <br>

                    <ion-button class="btnCeleste btnPass" mat-icon-button matSuffix (click)="guardarDatos()">
                        Guardar
                    </ion-button>
                </form>
            </ion-card-content>
        </ion-card>
    </ion-row>

    <ion-row class="margenTop20">
        <ion-card class="animated fadeIn cardLogeo1">
            <ion-card-content>
                <ion-card-title>Últimos movimientos</ion-card-title>
            </ion-card-content>
        </ion-card>
    </ion-row>
    <ion-row class="margenTop20" *ngFor="let m of movimientos, let i = index">
        <ion-card class="animated fadeIn cardLogeo">
            <ion-card-content>
                <ion-card-title>{{m.descripcion}}
                    <ion-button class="btnDanger1 btnDer" color="danger" trash-outline matSuffix (click)="eliminar(i)">
                        <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                </ion-card-title>
                <ion-card-subtitle>
                    {{m.fecha}}
                </ion-card-subtitle>

            </ion-card-content>
        </ion-card>
    </ion-row>


</ion-content>