<ion-header>
    <ion-toolbar class="styleToolBar">
        <img src="assets/img/img6.jpg" width="5%" style="margin-left: 25px;" />
        <ion-button class="btnCeleste btnDer" mat-icon-button matSuffix width="50%" (click)="volver()">
            <ion-icon class="centrar" name="arrow-back-outline"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content class="bg-class">
    <form class="marginRegistro" [formGroup]="form">

        <ion-label class="colorBlack">Nombre:</ion-label>
        <ion-input class="styleInput" formControlName="nombre" #nombre></ion-input>
        <br>

        <ion-label class="colorBlack">Ingresa la cantidad:</ion-label>
        <ion-input class="styleInput" formControlName="dinero" #dinero></ion-input>
        <br>

        <ion-label class="colorBlack">{{fecha}}</ion-label>

        <br>

        <ion-button class="btnCeleste" (click)="registro(nombre.value, dinero.value)">Confirmar registro</ion-button>
    </form>

</ion-content>