<ion-header>
    <ion-toolbar class="styleToolBar">
        <img src="assets/img/img6.jpg" width="5%" style="margin-left: 25px;" />
    </ion-toolbar>
</ion-header>

<ion-content class="bg-class">
    <ion-row>

        <ion-col size="3" class="margenTop20">
            <ion-card class="animated fadeIn centerImg" width="80%">
                <img src="assets/img/img7.png" class="centerImg centrar" />


                <ion-card-content class="colorGray3VW centrar">
                    <ion-button (click)="registrarPersona()">Añadir</ion-button>
                </ion-card-content>
            </ion-card>
        </ion-col>


        <ion-col size="3" class="margenTop20">
            <ion-card class="animated fadeIn centerImg" width="80%">
                <img src="assets/img/img6.jpg" class="centerImg centrar" />
                <ion-card-header>
                    <ion-card-title class="colorBlack centrar">Nombre</ion-card-title>
                </ion-card-header>

                <ion-card-content class="colorGray3VW centrar">
                    <ion-label>Dinero</ion-label>
                    <br>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

</ion-content>