<ion-header>
    <ion-toolbar class="styleToolBar">
        <img src="assets/img/img6.jpg" class="imgToolBar" style="margin-left: 25px;" />
        <ion-button class="btnCeleste btnDer" mat-icon-button matSuffix width="50%" (click)="registrarPersona()">
            <ion-icon class="centrar" name="person-add"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content class="bg-class">
    <ion-row>
        <ion-col size="4" class="margenTop20" *ngFor="let p of personas, let i = index">
            <ion-card class="animated fadeIn centerImg" width="80%">
                <img src="assets/img/img6.jpg" class="centerImg centrar" />
                <ion-card-header>
                    <ion-card-title class="colorBlack centrar">{{p.nombre}}</ion-card-title>
                </ion-card-header>

                <ion-card-content class="colorGray3VW centrar">
                    <ion-label class="colorGray">{{p.dinero}} €</ion-label>
                    <br>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

</ion-content>